@model NtapMarket.Data.ObjectModel.ProductModel

<h1>Информация о товаре</h1>

<hr>
<ul class="list-unstyled">
    <li><h3>@Model.Name</h3>
    <li>
        <br><h5>О Категории:</h5>
        <ul>
            @Model.ProductCategory?.Description
        </ul>
    <li>
        <br><h5>О продукте:</h5>
        <ul><li>@Model.MarketingInfo</li></ul>
        <br>
        @foreach (var item in Model.ProductAttributeModel)
        {
            <ul><li>@item.Name - @item.Value</li></ul>
        }
    </li>
    <li>
        <br>
        @foreach (var item in Model.ProductImage)
        {
            <img src="@item.ImageURL" class="img-fluid" alt="Responsive image">
        }
    </li>
    <li>
        <br>
        @foreach (var item in Model.UserImageList)
        {
            <p><img src="@Url.Content(item.Path)"/></p>
        }
    </li>
</ul>